/* #region Base */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
}

ul, 
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.content,
.main-page-team,
.portfolio {
    padding: 120px 0;
}
/* #endregion Base */
/* #region Header */
.page-header{
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo{
    align-items: center;
    margin-right: 76px;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
}
.logo-top{
    color: #2E2F42;
}
.page-header > .container {
    display: flex;
    align-items: center;
}
.header-nav{
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-right: 332px;
}
.header-list {
    display: flex;
    gap: 40px;
}

.header-item {
}
.menu-nav{
    display: block;
    color: #2E2F42;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav:hover{
    color: #404BBF;
}
.menu-nav:focus{
    color: #404bbf
}

.menu-nav::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: transparent;
    position: absolute;
    bottom: -1px;
}
.menu-nav.studio-decoration {
    color: #404BBF;
}
.menu-nav.studio-decoration::after{
    background:  #404BBF;
}

.contacts-info{
    font-style: normal
}
.contacts-list{
    display: flex;
    gap: 40px;
}
.address{
    color: #434455;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover{
    color: #404BBF;
}
.address:focus{
    color: #404bbf;
}
/* #endregion Header */
/* #region Hero */
.main-page-tittle {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.main-page-tittle > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-tittle{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
}
.main-button{
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover{
    background-color: #404BBF;
}
.main-button:focus{
    background-color: #404BBF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/* #endregion Hero */
/* #region Section 1 */
.content {
    padding: 120px 0;
}

.content-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.content-item {
    width: 264px;
}

.container-content-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background:  #F4F4FD;
    margin-bottom: 8px;
}

.content-icon {

}
.content-header{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.content-text{
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
}
/* #endregion Section 1 */
/* #region Section 2 */
.main-page-team{
    background-color: #F4F4FD;
}
.main-page-team-header{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    width: 162px;
    margin: 0 auto;
    margin-bottom: 72px;
    white-space: nowrap;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.team-card{
    width: calc(100% - 24px * 3) / 4;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-team-card-text{
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}
.team-card-header{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-card-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-card-social-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.team-card-social-icon-item {
}

.team-card-social-icon-link { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-social-icon {
    fill: #F4F4FD;
}

.team-card-social-icon-link:hover, .team-card-social-icon-link:focus
{
    background-color: #404BBF;
}
/* #endregion Section 2 */
/* #region Section 3 */
.main-page-portfolio-header{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    width: 218px;
    margin: 0 auto;
    margin-bottom: 72px;
    white-space: nowrap;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.project-card{
    display: flex;
    width: 360px;
    height: 420px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay {
transform: translateY(0);
}

.project-card:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding: 40px 32px 40px 32px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #4D5AE5;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-project-card-text{
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-card-header{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.project-card-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Section 3 */
/* #region Footer */
.page-bottom{
    background-color: #2E2F42;
    padding: 100px 0;
}

.page-bottom > .container {
    display: flex;
    align-items: baseline;
}

.cont-footer {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.logo-bottom{
    color: #F4F4FD;
}
.footer-text{
    width: 264px;
    color: #F4F4FD;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.container-footer-social-icon {
    display: block;
    align-items: center;
    margin-right: 80px;
}
.footer-social-media-text {
    color:  #FFF;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.wrap-footer-icon {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-social-item {
    
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
    fill: #F4F4FD;  
}

.footer-social-link:hover, .footer-social-link:focus {
    background-color: #31D0AA;
}

.container-email-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-text-input {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-footer-email {
    display: flex;
    gap: 24px;
}

.footer-email-label {}

.footer-email-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: transparent;
    padding: 8px 0 8px 16px;
    outline: none;
    margin-right: 24px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.0;
    letter-spacing: 0.04em;
}

.footer-email-input::placeholder {
color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 2.0;
letter-spacing: 0.04em;
}


.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    min-width: 165px;
    height: 40px;
    gap: 16px;

}

.wrapper-icon-sbcr {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;

}

/* #endregion Footer */
/* #region Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.40);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-btn-icon {
    fill: #2E2F42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon {
    fill: #FFFFFF
}

.modal-btn:hover, 
.modal-btn:focus{
    background-color: #404BBF;
    border: none;
}

.modal-caption {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 360px;
    margin-bottom: 16px;
}

.modal-form {

}

.modal-form-field {
   margin-bottom: 8px; 
}

label {
    display: block;
}

.modal-form-label {
    margin-bottom: 4px;

    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

 .modal-form-wrapper {
    position: relative;
    margin-bottom: 16px;
 }

 .modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 0 8px 38px;
    outline: transparent;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-form-input:focus {
    border-color: #4D5AE5;
 }

 .modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;

 }

 .modal-form-input:focus + .modal-form-icon {
    fill: #4D5AE5;
 }

.review-text {
    width: 360px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-text:focus {
    border-color: #4D5AE5;
}

.review-text::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form {
    margin-bottom: 24px;
}
.review-form-agreement {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox {

}

.review-form-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-icon {
    fill: #F4F4FD;
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked ~ .review-form-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

input[type='checkbox']:checked~.review-form-checkbox > .review-form-icon {
    opacity: 1;
}

.review-form-link {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.review-form-btn {
    margin: 0 auto;
    display: block;
}

/* #endregion Modal */
